n8n_workflow_v16.4_FULL.json
{
    "name": "Momentum Sniper V16.4 (FULL RESTORE + NEWS SCORE)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "momentum-trigger-new-v13",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                340
            ],
            "webhookId": "momentum-trigger-new-v13"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json[\"body\"][\"type\"] }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "PUMP_DETECTED"
                        },
                        {
                            "value2": "TRADE_RESULT",
                            "output": 1
                        },
                        {
                            "value2": "TRADE_PULSE",
                            "output": 2
                        }
                    ]
                }
            },
            "id": "switch-event",
            "name": "Switch Event",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                440,
                340
            ]
        },
        {
            "parameters": {
                "url": "={{ 'https://news.google.com/rss/search?q=' + $json.body.pair.replace('-USD','') + '+crypto+when:1d&hl=en-US&gl=US&ceid=US:en' }}",
                "options": {}
            },
            "id": "fetch-google-news-rss",
            "name": "Fetch Google News (RSS)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                700,
                180
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "xml-to-json",
            "name": "Parse RSS XML",
            "type": "n8n-nodes-base.xml",
            "typeVersion": 1,
            "position": [
                900,
                180
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Robust News Processing (V12 Fix)\n// Handles: Empty Feeds, Single Items, Multiple Items\n\ntry {\n    const body = $input.all()[0].json;\n    const rss = body.rss;\n\n    if (!rss || !rss.channel || !rss.channel.item) {\n        return [{ json: { news_context: \"No major news found on Google News in last 24h.\" } }];\n    }\n\n    let items = rss.channel.item;\n    if (!Array.isArray(items)) { items = [items]; }\n\n    const topItems = items.slice(0, 5);\n    const newsText = topItems.map(i => {\n        const title = i.title || 'No Title';\n        const date = i.pubDate || 'No Date';\n        return `Title: ${title}\\nDate: ${date}`;\n    }).join('\\n---\\n');\n\n    return [{ json: { news_context: newsText } }];\n\n} catch (error) {\n    return [{ json: { news_context: \"Error processing news feed. Assuming no news.\" } }];\n}"
            },
            "id": "process-news-logic",
            "name": "Process News (Stable)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1300,
                180
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "merge-data",
            "name": "Merge News+Pump",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                1700,
                340
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "prompt_template",
                            "value": "{\n  \"instruction\": \"ACT AS A CALCULATING CRYPTO WHALE ANALYST. ANALYZE PUMP & NEWS.\",\n  \"context\": \"Asset: {{ $json.body.pair }} | Pump: {{ $json.body.change_percent }}% | Vol: {{ $json.body.volume_24h }}\",\n  \"news_data\": \"{{ $json.news_context.replace(/\\\"/g, \"'\") }}\",\n  \"logic_rules\": {\n    \"1_SCAM_FILTER\": \"If news_context contains 'No major news' AND change > 10%, Confidence = 0. Reason: Pump without Catalyst.\",\n    \"2_NEWS_TIER\": \"TIER 1 = Binance/Coinbase Listing, Top Partnership (Google/Visa/AWS), Mainnet Launch. TIER 2 = Product Update, Minor listing. TIER 3 = Hype.\",\n    \"3_SCORING\": \"If TIER 1 present -> news_score = 1. Else -> news_score = 0.\",\n    \"4_MODE_SELECTOR\": \"If TIER 1 -> MODE: MOON (Target +40%). Else -> MODE: SCALP (Target +15%).\",\n    \"5_DECISION\": \"BUY if Volume > 1M AND News is at least TIER 3 (or TIER 1 for Moon). BLOCK if Volume < 500k.\"\n  },\n  \"output_format\": \"ONLY JSON: { 'action': 'BUY/BLOCK', 'confidence': 0-100, 'mode': 'SCALP/MOON', 'news_score': 0/1, 'predicted_optimal_exit': 15, 'reason': 'concise reason' }\"\n}"
                        }
                    ]
                }
            },
            "id": "set-prompt-v16-3",
            "name": "Set Prompt (V16 Start)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1900,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\"parts\": [{\"text\": $json.prompt_template}]}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-catalyst",
            "name": "Consult Gemini (Catalyst)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2100,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].replace(/```json/g, \"\").replace(/```/g, \"\")) }}",
                "options": {}
            },
            "id": "webhook-response-pump",
            "name": "Respond (Pump Analysis)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2300,
                340
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "prompt_template",
                            "value": "RE-EVALUATION PULSE (HYBRID):\nPair: {{ $json.body.pair }}\nPnL: {{ $json.body.pnl }}%\n\nShould I HOLD or EXIT?\nIf price is dropping and confidence is low, say EXIT.\nIf price is stable/rising, say HOLD.\n\nReply ONLY JSON:\n{ \"action\": \"HOLD\", \"confidence\": 90 }\nOR\n{ \"action\": \"EXIT\", \"confidence\": 90 }"
                        }
                    ]
                }
            },
            "id": "pulse-config",
            "name": "Set Config (Pulse)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1700,
                540
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\"parts\": [{\"text\": $json.prompt_template}]}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-pulse",
            "name": "Consult Gemini (Pulse)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1900,
                540
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].replace(/```json/g, \"\").replace(/```/g, \"\")) }}",
                "options": {}
            },
            "id": "webhook-response-pulse",
            "name": "Respond (Pulse)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2300,
                540
            ]
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "pair",
                            "value": "={{ $json.body.pair }}"
                        },
                        {
                            "name": "result",
                            "value": "={{ $json.body.result }}"
                        },
                        {
                            "name": "pnl",
                            "value": "={{ $json.body.pnl_percent }}"
                        }
                    ]
                }
            },
            "id": "format-logging",
            "name": "Format Data (Log)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                700,
                450
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "https://docs.google.com/spreadsheets/d/1F...",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "list",
                    "cachedResultName": "Sheet1"
                },
                "dataMode": "autoMapInputData",
                "options": {}
            },
            "id": "google-sheets",
            "name": "Log to Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                900,
                450
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Event": {
            "main": [
                [
                    {
                        "node": "Fetch Google News (RSS)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge News+Pump",
                        "type": "main",
                        "index": 1
                    }
                ],
                [
                    {
                        "node": "Format Data (Log)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Set Config (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Google News (RSS)": {
            "main": [
                [
                    {
                        "node": "Parse RSS XML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse RSS XML": {
            "main": [
                [
                    {
                        "node": "Process News (Stable)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process News (Stable)": {
            "main": [
                [
                    {
                        "node": "Merge News+Pump",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge News+Pump": {
            "main": [
                [
                    {
                        "node": "Set Prompt (V16 Start)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (V16 Start)": {
            "main": [
                [
                    {
                        "node": "Consult Gemini (Catalyst)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consult Gemini (Catalyst)": {
            "main": [
                [
                    {
                        "node": "Respond (Pump Analysis)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Config (Pulse)": {
            "main": [
                [
                    {
                        "node": "Consult Gemini (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consult Gemini (Pulse)": {
            "main": [
                [
                    {
                        "node": "Respond (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Data (Log)": {
            "main": [
                [
                    {
                        "node": "Log to Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}