n8n_workflow_v28_FINAL.json
{
    "name": "Momentum Sniper V28 (FINAL FIX)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "momentum-trigger-new-v13",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                340
            ],
            "webhookId": "momentum-trigger-new-v13"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json[\"body\"][\"type\"] }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "PUMP_DETECTED"
                        },
                        {
                            "value2": "TRADE_RESULT",
                            "output": 1
                        },
                        {
                            "value2": "TRADE_PULSE",
                            "output": 2
                        }
                    ]
                }
            },
            "id": "switch-event",
            "name": "Switch Event",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                440,
                340
            ]
        },
        {
            "parameters": {
                "url": "http://momentum-scanner:3000/trade-history",
                "options": {}
            },
            "id": "read-trade-history",
            "name": "Read Trade History (V28)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                660,
                200
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://cointelegraph.com/rss"
            },
            "id": "rss-cointelegraph",
            "name": "RSS Cointelegraph",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                900,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://www.coindesk.com/arc/outboundfeeds/rss/"
            },
            "id": "rss-coindesk",
            "name": "RSS Coindesk",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1100,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://decrypt.co/feed"
            },
            "id": "rss-decrypt",
            "name": "RSS Decrypt",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1300,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://cryptoslate.com/feed/"
            },
            "id": "rss-cryptoslate",
            "name": "RSS CryptoSlate",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ 'https://lunarcrush.com/api4/public/coins/' + $('Webhook').first().json.body.pair.replace('-USD','') }}",
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "Authorization",
                            "value": "Bearer zegf0phkyr6v7ti6cyq2v8u1emlh0bxhscogic25"
                        }
                    ]
                }
            },
            "id": "api-lunarcrush",
            "name": "LunarCrush (Social)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1100,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ 'https://news.google.com/rss/search?q=' + $('Webhook').first().json.body.pair.replace('-USD','') + '+crypto+when:1d&hl=en-US&gl=US&ceid=US:en' }}"
            },
            "id": "rss-google",
            "name": "Google News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "mode": "append"
            },
            "id": "merge-news",
            "name": "Wait for All News",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1500,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// V28.1 AGGREGATOR (UNIVERSAL + HISTORY)\nconst params = $('Webhook').first().json.body;\nconst ticker = params.pair.replace('-USD', '').trim();\nconst coinName = params.coin_name || params.coin_full_name;\n\n// PRIORITY: Webhook Name > Lunar Name > Ticker\nlet fullName = coinName || ticker;\n\nconst getFeed = (nodeName) => {\n    try {\n        const items = $items(nodeName).map(i => i.json);\n        return items.filter(i => !i.error && !i.status_code && i.title);\n    } catch (e) { return []; }\n};\n\n// 1. DATA GATHERING\nconst ct = getFeed('RSS Cointelegraph');\nconst cd = getFeed('RSS Coindesk');\nconst dc = getFeed('RSS Decrypt');\nconst cs = getFeed('RSS CryptoSlate');\nconst gn = getFeed('Google News RSS');\n\n// 2. LUNARCRUSH (BONUS)\nlet lunar = {};\nlet lunarName = null;\nlet socialUnavailable = false;\n\ntry {\n    const lunarItems = $items('LunarCrush (Social)');\n    if (lunarItems.length > 0 && !lunarItems[0].error && !lunarItems[0].json.error) {\n         const raw = lunarItems[0].json;\n         if (raw.data) {\n            lunar = raw.data;\n            lunarName = lunar.name;\n         } else {\n             socialUnavailable = true;\n         }\n    } else {\n        socialUnavailable = true;\n    }\n} catch (e) {\n    socialUnavailable = true;\n}\n\n// Fallback: If Webhook didn't have name, try Lunar\nif (!coinName && lunarName) {\n    fullName = lunarName;\n}\n\n// 3. SMART REGEX (V28)\nconst regex = new RegExp(\"\\\\b(\" + ticker + \"|\" + fullName + \")\\\\b\", \"i\");\nconst regexInfo = `Regex: ${regex.toString()} (Name: ${fullName})`;\n\nconst filterNews = (source, items) => {\n    return items.filter(i => {\n        const title = (i.title || '').trim();\n        const desc = (i.content || i.contentSnippet || i.description || '').trim();\n        return regex.test(title) || regex.test(desc);\n    }).map(i => `[${source}] ${i.title}`);\n};\n\nlet allNews = [];\nallNews.push(...filterNews('CoinTelegraph', ct));\nallNews.push(...filterNews('CoinDesk', cd));\nallNews.push(...filterNews('Decrypt', dc));\nallNews.push(...filterNews('CryptoSlate', cs));\nallNews.push(...filterNews('GoogleNews', gn));\n\n// 4. SOCIAL STATUS REPORT\nlet socialText = '';\nlet hasHype = false;\n\nif (socialUnavailable) {\n    socialText = 'Social Hype: Data Unavailable (BONUS MODE)';\n} else {\n    socialText = `Name: ${lunar.name || ticker} | Social Vol: ${lunar.social_volume || 0} | Rank: ${lunar.alt_rank || 0}`;\n    if (lunar.social_volume_calc_24h_percent > 50) hasHype = true;\n}\n\n// 5. OUTPUT\nconst finalContext = allNews.length > 0 \n    ? allNews.slice(0, 20).join('\\n') \n    : 'NO_NEWS_FOUND';\n\nconst uniqueSources = [...new Set(allNews.map(i => {\n    const match = i.match(/^\\\\[(.*?)\\\\]/);\n    return match ? match[1] : null;\n}).filter(Boolean))].join(', ');\n\n// HISTORY INJECTION (V28.1 FIX)\nconst historyNode = $node[\"Read Trade History (V28)\"] ? $node[\"Read Trade History (V28)\"].json : {};\n\nreturn [{\n    json: {\n        news_context: finalContext + '\\n\\n' + socialText,\n        news_count: allNews.length,\n        news_sources: uniqueSources || \"None\",\n        found_sources: uniqueSources || \"None\",\n        has_social_hype: hasHype,\n        regex_used: regexInfo,\n        coin_full_name: fullName,\n        // INJECTED HISTORY FIELDS\n        trade_history_stats: historyNode.stats || \"No Stats\",\n        recent_history: historyNode.recent_history || \"No History\"\n    }\n}];"
            },
            "id": "news-aggregator-v28",
            "name": "Aggregator (V28)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1700,
                340
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "prompt_template",
                            "value": "{\n  \"instruction\": \"ACT AS A SECURITY GUARD FOR CRYPTO NEWS (ENTITY GUARD).\",\n  \"ENTITY_GUARD_PROTOCOL\": {\n      \"STEP_1\": \"VERIFY that the news is about the CRYPTO ASSET '{{ $json.body.pair }}' ({{ $json.coin_full_name }}).\",\n      \"STEP_2\": \"REJECT if it refers to a PERSON (e.g. Vara Prasad), a PLACE, or a COMMON WORD (e.g. Super).\",\n      \"STEP_3\": \"REJECT if the ticker is just a substring of another word (e.g. 'SUP' in 'SUPER').\",\n      \"STEP_4\": \"REJECT if the news is about the whole market (e.g. 'Bitcoin pump') and not specific to this asset.\"\n  },\n  \"SCORING_RULES\": {\n      \"SCORE_0_BLOCK\": \"If news is about a person, unrelated entity, or NO news found.\",\n      \"SCORE_7_9_BUY\": \"ONLY if VALIDATED news about specific project updates/partnerships/listings.\",\n      \"SCORE_5_HYPE\": \"Social Volume Spike > 50% confirmed by LunarCrush.\",\n      \"BONUS_RULE\": \"Social Data is BONUS. If 'Data Unavailable', IGNORE it. Do NOT lower confidence. Rely on NEWS VOLUME.\"\n  },\n  \"inputs\": {\n      \"asset_ticker\": \"{{ $json.body.pair }}\",\n      \"asset_name\": \"{{ $json.coin_full_name }}\",\n      \"news_data\": \"{{ $json.news_context.replace(/\\\"/g, \\\"'\\\") }}\",\n      \"social_data\": \"{{ $json.has_social_hype }}\",\n      \"trade_history\": \"{{ $json.trade_history_stats }}\"\n  },\n  \"output_format\": \"ONLY JSON: { 'action': 'BUY/BLOCK', 'confidence': 0-100, 'news_score': 0-10, 'mode': 'SCALP/MOON', 'reason': 'ENTITY_CHECK_RESULT' }\"\n}"
                        }
                    ]
                }
            },
            "id": "set-prompt-v26",
            "name": "Set Prompt (V26)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1900,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\"parts\": [{\"text\": $json.prompt_template}]}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-catalyst",
            "name": "Consult Gemini (Catalyst)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2100,
                340
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// V28.1 BULLETPROOF PARSER (USER FIX)\nconst geminiRaw = $json.candidates[0].content.parts[0].text;\n\n// 1. EXTRACT JSON\nconst match = geminiRaw.match(/\\{[\\s\\S]*\\}/);\nlet result;\n\nif (match) {\n    try {\n        result = JSON.parse(match[0]);\n        if (result.news_score === undefined) result.news_score = result.tier || 0;\n    } catch (e) {\n        result = { action: 'BLOCK', confidence: 0, reason: 'JSON Parse Error: ' + e.message };\n    }\n} else {\n    result = { action: 'BLOCK', confidence: 0, reason: 'Gemini Text Refusal / No JSON' };\n}\n\n// 2. SILENT WHALE KICKER (PERSISTED)\ntry {\n    const signal = $node[\"Webhook\"] ? $node[\"Webhook\"].json.body : {};\n    const VOLUME_THRESHOLD = 10000000; // $10M\n\n    if (result.news_score === 0 || result.action === 'BLOCK') {\n        if (signal && signal.volume_24h > VOLUME_THRESHOLD) {\n            result.action = 'BUY';\n            result.confidence = 85;\n            result.mode = 'SCALP';\n            result.reason = `SILENT WHALE KICKER: Vol $${(signal.volume_24h/1e6).toFixed(1)}M > $10M implies Insider Move.`;\n            result.whale_override = true;\n        }\n    }\n} catch (e) {\n    // Ignore\n}\n\nreturn [{ json: result }];"
            },
            "id": "parse-v28",
            "name": "Parse (V28)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                2300,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "webhook-response-pump",
            "name": "Respond (Pump Analysis)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2500,
                340
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "prompt_template",
                            "value": "RE-EVALUATION PULSE (HYBRID):\nPair: {{ $json.body.pair }}\nPnL: {{ $json.body.pnl }}%\n..."
                        }
                    ]
                }
            },
            "id": "pulse-config",
            "name": "Set Config (Pulse)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1900,
                540
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\"parts\": [{\"text\": $json.prompt_template}]}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-pulse",
            "name": "Consult Gemini (Pulse)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2100,
                540
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].replace(/```json/g, \"\").replace(/```/g, \"\")) }}",
                "options": {}
            },
            "id": "webhook-response-pulse",
            "name": "Respond (Pulse)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2500,
                540
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Event": {
            "main": [
                [
                    {
                        "node": "Read Trade History (V28)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS Cointelegraph",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS Coindesk",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS Decrypt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS CryptoSlate",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Google News RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "LunarCrush (Social)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [
                    {
                        "node": "Set Config (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Trade History (V28)": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Cointelegraph": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Coindesk": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Decrypt": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS CryptoSlate": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google News RSS": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LunarCrush (Social)": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for All News": {
            "main": [
                [
                    {
                        "node": "Aggregator (V28)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregator (V28)": {
            "main": [
                [
                    {
                        "node": "Set Prompt (V26)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (V26)": {
            "main": [
                [
                    {
                        "node": "Consult Gemini (Catalyst)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consult Gemini (Catalyst)": {
            "main": [
                [
                    {
                        "node": "Parse (V28)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse (V28)": {
            "main": [
                [
                    {
                        "node": "Respond (Pump Analysis)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Config (Pulse)": {
            "main": [
                [
                    {
                        "node": "Consult Gemini (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consult Gemini (Pulse)": {
            "main": [
                [
                    {
                        "node": "Respond (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}