n8n_workflow_v22_CLEAN.json
{
    "name": "Momentum Sniper V22 (CLEAN REGEX + TRUTH)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "momentum-trigger-new-v13",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                340
            ],
            "webhookId": "momentum-trigger-new-v13"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json[\"body\"][\"type\"] }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "PUMP_DETECTED"
                        },
                        {
                            "value2": "TRADE_RESULT",
                            "output": 1
                        },
                        {
                            "value2": "TRADE_PULSE",
                            "output": 2
                        }
                    ]
                }
            },
            "id": "switch-event",
            "name": "Switch Event",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                440,
                340
            ]
        },
        {
            "parameters": {
                "url": "http://momentum-scanner:3000/trade-history",
                "options": {}
            },
            "id": "read-trade-history",
            "name": "Read Trade History (V22)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                660,
                200
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://cointelegraph.com/rss"
            },
            "id": "rss-cointelegraph",
            "name": "RSS Cointelegraph",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                900,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://www.coindesk.com/arc/outboundfeeds/rss/"
            },
            "id": "rss-coindesk",
            "name": "RSS Coindesk",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1100,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://decrypt.co/feed"
            },
            "id": "rss-decrypt",
            "name": "RSS Decrypt",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1300,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://cryptoslate.com/feed/"
            },
            "id": "rss-cryptoslate",
            "name": "RSS CryptoSlate",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ 'https://lunarcrush.com/api4/public/coins/' + $('Webhook').first().json.body.pair.replace('-USD','') }}",
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{$env.LUNARCRUSH_API_KEY}}"
                        }
                    ]
                }
            },
            "id": "api-lunarcrush",
            "name": "LunarCrush (Social)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1100,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ 'https://news.google.com/rss/search?q=' + $('Webhook').first().json.body.pair.replace('-USD','') + '+crypto+when:1d&hl=en-US&gl=US&ceid=US:en' }}"
            },
            "id": "rss-google",
            "name": "Google News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "mode": "append"
            },
            "id": "merge-news",
            "name": "Wait for All News",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1500,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// V22 STRICT REGEX CLEANUP\nconst params = $('Webhook').first().json.body;\nconst pair = params.pair.replace('-USD', '').trim();\nconst coin = pair;\n\nconst getFeed = (nodeName) => {\n    try {\n        const items = $items(nodeName).map(i => i.json);\n        return items.filter(i => !i.error && !i.status_code && i.title);\n    } catch (e) { return []; }\n};\n\n// 1. GATHER DATA\nconst ct = getFeed('RSS Cointelegraph');\nconst cd = getFeed('RSS Coindesk');\nconst dc = getFeed('RSS Decrypt');\nconst cs = getFeed('RSS CryptoSlate');\nconst gn = getFeed('Google News RSS');\n\nlet lunar = {};\ntry {\n    if ($items('LunarCrush (Social)').length > 0) {\n        lunar = $items('LunarCrush (Social)')[0].json;\n    }\n} catch (e) {\n    lunar = {};\n}\n\nlet allNews = [];\n\n// 2. STRICT REGEX FILTER (V22)\n// Matches \"ETH\" in \"Buy ETH\" but NOT in \"BETHere\" or \"Ethereum\"\nconst regex = new RegExp(\"\\\\b\" + coin + \"\\\\b\", \"i\");\nconst regexInfo = `Regex: ${regex.toString()}`;\n\nconst filterNews = (source, items) => {\n    return items.filter(i => {\n        const title = (i.title || '').trim();\n        const desc = (i.content || i.contentSnippet || i.description || '').trim();\n        return regex.test(title) || regex.test(desc);\n    }).map(i => `[${source}] ${i.title}`);\n};\n\nallNews.push(...filterNews('CoinTelegraph', ct));\nallNews.push(...filterNews('CoinDesk', cd));\nallNews.push(...filterNews('Decrypt', dc));\nallNews.push(...filterNews('CryptoSlate', cs));\nallNews.push(...filterNews('GoogleNews', gn));\n\n// 3. SOCIAL DATA\nlet socialText = 'No LunarCrush Data';\nlet hasHype = false;\nif (lunar && lunar.data) {\n    const s = lunar.data;\n    socialText = `Social Vol: ${s.social_volume || 0} | Rank: ${s.alt_rank || 0}`;\n    if (s.social_volume_calc_24h_percent > 50) hasHype = true;\n}\n\n// 4. PREPARE CONTEXT\nconst finalContext = allNews.length > 0 \n    ? allNews.slice(0, 15).join('\\n') \n    : 'NO_NEWS_FOUND';\n\nconst uniqueSources = [...new Set(allNews.map(i => {\n    const match = i.match(/^\\\\[(.*?)\\\\]/);\n    return match ? match[1] : null;\n}).filter(Boolean))].join(', ');\n\nreturn [{\n    json: {\n        news_context: finalContext + '\\n\\n' + socialText,\n        news_count: allNews.length,\n        news_sources: uniqueSources || \"None\",\n        found_sources: uniqueSources || \"None\",\n        has_social_hype: hasHype,\n        regex_used: regexInfo\n    }\n}];"
            },
            "id": "news-aggregator-v22",
            "name": "Aggregator (V22)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1700,
                340
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "prompt_template",
                            "value": "{\n  \"instruction\": \"ACT AS A CALCULATING CRYPTO WHALE ANALYST (V22).\",\n  \"TRUTH_COMMAND\": {\n      \"RULE_1\": \"YOUR ONLY EYES ARE THE 'news_data' FIELD. IGNORE INTERNAL KNOWLEDGE.\",\n      \"RULE_2\": \"IF 'news_data' contains 'NO_NEWS_FOUND' OR 'No direct news found', YOU MUST SET 'news_score': 0.\",\n      \"RULE_3\": \"YOU ARE CATEGORICALLY FORBIDDEN FROM INVENTING NEWS. If it is not in the text, it does not exist.\",\n      \"RULE_4\": \"If you see a pump but no news: WRITE 'Reason: Technical pump, no news grounding'.\"\n  },\n  \"V22_SCORING\": {\n      \"SCORE_7_9\": \"STRONG BUY. ONLY if news matches regex {{ $json.body.pair }} EXACTLY and is POSITIVE.\",\n      \"SCORE_5_HYPE\": \"Social Volume Spike > 50% without news.\",\n      \"SCORE_0\": \"No news found. Treat as Silent Whale or Pump & Dump.\"\n  },\n  \"context\": \"Asset: {{ $json.body.pair }} | Change: {{ $json.body.change_percent }}% | Vol: {{ $json.body.volume_24h }}\",\n  \"news_data\": \"{{ $json.news_context.replace(/\\\"/g, \\\"'\\\") }}\",\n  \"social_data\": \"Social Hype Present: {{ $json.has_social_hype }}\",\n  \"trade_history\": \"{{ $json.trade_history_stats }}\",\n  \"recent_trades\": \"{{ ($json.recent_history || 'None').substring(0, 1000) }}\",\n  \"output_format\": \"ONLY JSON: { 'action': 'BUY/BLOCK', 'confidence': 0-100, 'news_score': 0-10, 'mode': 'SCALP/MOON', 'reason': 'Cite source or Technical Pump if no news' }\"\n}"
                        }
                    ]
                }
            },
            "id": "set-prompt-v22",
            "name": "Set Prompt (V22)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1900,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\"parts\": [{\"text\": $json.prompt_template}]}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-catalyst",
            "name": "Consult Gemini (Catalyst)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2100,
                340
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// V22: Parse & Check\nconst signal = $node[\"Webhook\"].json.body;\nconst geminiRaw = $json.candidates[0].content.parts[0].text;\n\n// SYNCED NODE NAMES (V22)\nconst AGG_NODE = \"Aggregator (V22)\"; \nconst HIST_NODE = \"Read Trade History (V22)\";\n\nconst diagnostics = {\n    news_source: \"Google/Combiner\",\n    news_status: \"❓ CHECKING\",\n    history_status: \"❓ CHECKING\", \n    data_quality: 100,\n    timestamp: new Date().toISOString()\n};\n\n// 1. Check News\ntry {\n    const aggData = $node[AGG_NODE].json;\n    if (aggData.news_count > 0) {\n        diagnostics.news_status = `✅ OK (${aggData.news_count} items)`;\n        diagnostics.found_sources = aggData.found_sources;\n    } else {\n        diagnostics.news_status = \"⚠️ EMPTY (No News Found)\";\n        diagnostics.found_sources = \"None (0/10)\"; // V22 REQUIREMENT\n        diagnostics.data_quality -= 20;\n    }\n} catch (e) {\n    diagnostics.news_status = \"❌ AGGREGATOR ERROR\";\n}\n\n// 2. Check History\ntry {\n    const historyData = $node[HIST_NODE].json;\n    if (historyData && historyData.total_trades !== undefined) {\n         diagnostics.history_status = `✅ OK (${historyData.total_trades} trades)`;\n    } else {\n         diagnostics.history_status = \"❌ HISTORY ERROR\";\n         diagnostics.data_quality -= 30;\n    }\n} catch (e) {\n    diagnostics.history_status = \"❓ UNKNOWN\";\n}\n\nlet cleanResponse = geminiRaw.trim().replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\nlet geminiDecision;\n\ntry {\n  geminiDecision = JSON.parse(cleanResponse);\n} catch (e) {\n  geminiDecision = { action: 'BLOCK', confidence: 0, reason: 'JSON Error' };\n}\n\n// STANDARD: Force news_score field\nif (geminiDecision.tier !== undefined && geminiDecision.news_score === undefined) {\n    geminiDecision.news_score = geminiDecision.tier;\n}\n\n// V22: TRUTH ENFORCEMENT\nif (diagnostics.found_sources.includes(\"None\")) {\n    geminiDecision.news_score = 0;\n    geminiDecision.news_sources = \"None (0/10)\";\n}\n\ngeminiDecision.system_diagnostics = diagnostics;\nreturn [{ json: geminiDecision }];"
            },
            "id": "parse-v22",
            "name": "Parse (V22)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                2300,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "webhook-response-pump",
            "name": "Respond (Pump Analysis)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2500,
                340
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "prompt_template",
                            "value": "RE-EVALUATION PULSE (HYBRID):\nPair: {{ $json.body.pair }}\nPnL: {{ $json.body.pnl }}%\n..."
                        }
                    ]
                }
            },
            "id": "pulse-config",
            "name": "Set Config (Pulse)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1900,
                540
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\"parts\": [{\"text\": $json.prompt_template}]}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-pulse",
            "name": "Consult Gemini (Pulse)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2100,
                540
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].replace(/```json/g, \"\").replace(/```/g, \"\")) }}",
                "options": {}
            },
            "id": "webhook-response-pulse",
            "name": "Respond (Pulse)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2500,
                540
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Event": {
            "main": [
                [
                    {
                        "node": "Read Trade History (V22)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS Cointelegraph",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS Coindesk",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS Decrypt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "RSS CryptoSlate",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Google News RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "LunarCrush (Social)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [
                    {
                        "node": "Set Config (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Trade History (V22)": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Cointelegraph": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Coindesk": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Decrypt": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS CryptoSlate": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google News RSS": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LunarCrush (Social)": {
            "main": [
                [
                    {
                        "node": "Wait for All News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for All News": {
            "main": [
                [
                    {
                        "node": "Aggregator (V22)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregator (V22)": {
            "main": [
                [
                    {
                        "node": "Set Prompt (V22)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (V22)": {
            "main": [
                [
                    {
                        "node": "Consult Gemini (Catalyst)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consult Gemini (Catalyst)": {
            "main": [
                [
                    {
                        "node": "Parse (V22)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse (V22)": {
            "main": [
                [
                    {
                        "node": "Respond (Pump Analysis)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Config (Pulse)": {
            "main": [
                [
                    {
                        "node": "Consult Gemini (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consult Gemini (Pulse)": {
            "main": [
                [
                    {
                        "node": "Respond (Pulse)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}